
	*{
		box-sizing: border-box;
	}
	h1{
		text-align: center;
	}
	.column{
		float: left;
		width:300px;
		height:300px;
		padding: 5px;

	}
.column1{
		background-color: gray;
		border:2px solid black;
		padding: 5px;
		column-gap: 5px;
	}
	.column2{
		background-color: gray;
		border:2px solid black;
		padding: 5px;
	}
	.column3{
		background-color: gray;
		border:2px solid black;
		padding: 5px;
	}
	.c{
	background-color: pink;
	border:1px solid black;
	text-align: right;
	font-weight: bold;
	font-size: 120%;
	margin:none;
	}
	.b{
	background-color: red;
	border:1px solid black;
	text-align: right;
	font-weight: bold;
	font-size: 120%;
	}
	.s{
	background-color: green;
	border:1px solid black;	
	text-align: right;
	font-weight: bold;
	font-size: 120%;
	}
	.p1{
		text-align: justify;
	}
	.p2{
		text-align: justify;
	}
	.p3{
		text-align: justify;
	}
	/******large device only******/
	@media screen (min-width: 992px){
		.column1{
			float: left;
			width: 100%;
}
/*****medium device only******/
	@media screen (min-width: 768px) and (max-width: 991px) {
		.column1{
			float: left;
			width: -50%;
		}
		.column2{
			float: left;
			width: -50%;
		}
		.column3{
			width: 100%;
		}
	
	}
	/*****small device only******/
	@media screen and (max-width: 767px){
			.column1{
			width: 100%;
		}
		.column2{
			width: 100%;
		}
		.column3{
			width: 100%;
		}
	
	}
